{% set i=0 %}
{% for category in categories() %}
    {% if (i%2) == 0 %} {% set color = 'even' %}
    {% else %} {% set color = 'odd' %}
    {% endif %}
        
    <li class="{{ color }}"><a href="/category/{{ category.slug }}">{{ category.name }}</a></li>

    {% set i = i + 1 %}
{% endfor %}